.main {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
}

.modal {
  width: 400px;
  height: 300px;
  padding: 20px;
  background-color: #fff;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.investButton {
    padding: 10px 20px;
    background-color: yellow;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

.closeButton {
  display: block;
  margin-left: auto;
}

.input {
    background-color: #e5e5e5;
}