.main {
    border: 1px solid black;
    padding: 10px 20px;
    margin: 20px 0;
}


.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    background-color: yellow;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

.warn {
    color: red;
}

.success {
    color: green;
}